<!DOCTYPE html>
<head>
    <title>Credit Score Classification</title>
  <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
<h2>Credit Score Classification</h2>
<form action="{{url_for("predict")}}" method="post" id="input head">
    <label for="Annual_Income">Annual Income:</label><br>
    <input type="number" id="Annual_Income" name="Annual_Income" min="7000" max="180000"  required><br>

    <label for="Monthly_Inhand_Salary">Monthly Inhand Salary:</label><br>
    <input type="number" id="Monthly_Inhand_Salary" name="Monthly_Inhand_Salary" min="300" max="15250"  required><br>

    <label for="Num_Bank_Accounts">Num Bank Accounts:</label><br>
    <input type="number" id="Num_Bank_Accounts" name="Num_Bank_Accounts" min="0" max="11" required><br>

    <label for="Num_Credit_Card">Num Credit Card:</label><br>
    <input type="number" id="Num_Credit_Card" name="Num_Credit_Card" min="0" max="11" required><br>

    <label for="Interest_Rate">Interest Rate:</label><br>
    <input type="number" id="Interest_Rate" name="Interest_Rate" min="1" max="34" required><br>

    <label for="Num_of_Loan">Num of Loan:</label><br>
    <input type="number" id="Num_of_Loan" name="Num_of_Loan" min="0" max="9" required><br>

    <label for="Delay_from_due_date">Delay from due date:</label><br>
    <input type="number" id="Delay_from_due_date" name="Delay_from_due_date" min="0" max="62" required><br>

    <label for="Num_of_Delayed_Payment">Num of Delayed Payment:</label><br>
    <input type="number" id="Num_of_Delayed_Payment" name="Num_of_Delayed_Payment" min="0" max="25" required><br>

    <label for="Credit_Mix">Credit Mix:</label><br>
    <select id="Credit_Mix" name="Credit_Mix">
      <option disabled selected>Select</option>
      <option value="1">STANDARD</option>
      <option value="2">GOOD</option>
      <option value="0">BAD</option>
    </select><br>

    <label for="Outstanding_Debt">Outstanding Debt:</label><br>
    <input type="number" id="Outstanding_Debt" name="Outstanding_Debt" min="0" max="5000"  required><br>

    <label for="Credit_History_Age">Credit History Age:</label><br>
    <input type="number" id="Credit_History_Age" name="Credit_History_Age" min="1" max="404" required><br>

    <label for="Monthly_Balance">Monthly_Balance:</label><br>
    <input type="number" id="Monthly_Balance" name="Monthly_Balance" min="0" max="1184" required><br><br>

    <input type="submit" value="Submit">

</form>
</body>
</html>